.category-container {
    /* margin-block-start: 30px; */
    margin-top: 15px;
    & h4 {
        font-size: 16px;
        color: var(--darkgray);
    }
    & h3 {
        font-size: 20px;
        color: var(--midgray);
    }
}