.list.friends {
  & li {
    display: flex;
    align-items: center;
    /* padding-block-start: 5px; */
    padding-top: 5px;
    margin: 5px 0;
    /* border-block-start: solid 1px #00C; */
    /* border-top: solid 1px #00C; */
    cursor: pointer;

    & p {
      /* padding-inline-start: 25px; */
      padding-left: 25px;
    }
  }
}
